.wrapper {
    text-align: center;
    background: #f6f9fc;
    padding: 50px 0;
  }
  .wrapper .img {
    margin: auto;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 90%;
    margin: auto;
  }
  .wrapper .img i {
    font-size: 25px;
  }
  .wrapper .product {
    padding: 30px;
  }
  .wrapper .product h3 {
    font-weight: 500;
  }
  .wrapper p {
    font-size: 15px;
    margin-top: 20px;
    color: grey;
  }
  